@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575009924499'); /* IE9 */
  src: url('iconfont.eot?t=1575009924499#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'),
  url('iconfont.woff?t=1575009924499') format('woff'),
  url('iconfont.ttf?t=1575009924499') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575009924499#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghu:before {
  content: "\e601";
}

.icon-checkbox:before {
  content: "\e684";
}

.icon-checkboxchecked:before {
  content: "\e67d";
}

.icon-74wodedingdan:before {
  content: "\e64e";
}

.icon-084tuichu:before {
  content: "\e659";
}

.icon-radiobutton:before {
  content: "\e6a7";
}

.icon-ai-code:before {
  content: "\e606";
}

.icon-ai-user:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e61e";
}

.icon-radiobox:before {
  content: "\e6d4";
}

.icon-liuliangyunpingtaitubiao03:before {
  content: "\e689";
}

.icon-fasong:before {
  content: "\e642";
}

.icon-radiobox1:before {
  content: "\e764";
}

.icon-kefu-tianchong:before {
  content: "\e620";
}

.icon-xiazai:before {
  content: "\e610";
}

.icon-arrow_down:before {
  content: "\e779";
}

.icon-web-icon-:before {
  content: "\e711";
}

.icon-yingxiaotuiguang:before {
  content: "\e672";
}

.icon-fenzu:before {
  content: "\e613";
}

.icon-jiluliebiao:before {
  content: "\e60d";
}

.icon-rili1:before {
  content: "\e602";
}

.icon-tixianjilu:before {
  content: "\e6bb";
}

.icon-kong:before {
  content: "\e708";
}

.icon-moban:before {
  content: "\e730";
}

.icon-rili:before {
  content: "\e6c5";
}

.icon-rizhiguanli:before {
  content: "\e6aa";
}

.icon-shujufenxi:before {
  content: "\e600";
}

.icon-settings-:before {
  content: "\e652";
}

